<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns:p="http://www.springframework.org/schema/p"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
    
   
    <context:annotation-config />
    
    <bean class="com.autowiredAnnotations.student" name="studBean1">
    	<constructor-arg name="roll" value="12181" />
    	<constructor-arg name="name" value="Abhi" />
    </bean>
    
    <bean class="com.autowiredAnnotations.Address" name="adressBean1">
    	<constructor-arg name="city" value="Baramati" />
    	<constructor-arg name="state" value="Maharashtra" />
    	<constructor-arg name="country" value="INDIA" />
    </bean>
</beans>